.machine-details-outer-block{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.img-display-block{
    position: relative;
    width:50%;
    height:100%;
    background-image: url('../images/background.jpeg');
    background-repeat: none;
    background-size:100%;
}
.machine-details-main-block{
    position: relative;
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.machine-details-form{
    width:80%;
    height:auto;
    border:1px solid rgb(195, 223, 252);
    border-radius:5px;
    box-shadow:0px 0px 2px #b1ebef;
}
.backnavbar{
    position:absolute;
    top:0px;
    width:100%;
    height:8vh;
    border-bottom:1px solid rgb(222, 222, 222);
    border-left: 1px solid rgb(222, 222, 222);
}

.backnavbar ul{
    display: flex;
    align-items: center;
    width:80%;
    height:90%;
    list-style: none;
}
.backnavbar ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
.home-link{
 width:10%;
 height: 100%;
 padding:1rem;
}
.home-link .link{
    text-decoration: none;
    color: gray;
    font-size:18px;
  
}
.header-title-md{
    width:90%;
    height:100%;
    font-size: 18px;
    font-weight: 600;
}
.instruction-text{
    text-align:left;
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(250, 7, 7);
}
/* inputs css */
.input-container{
   
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding:0.5rem;
    border-bottom:1px solid rgb(210, 230, 250);
}

.input-block{
    padding:1rem;
}
.input-block h2{
    color: gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input-span{
    width: 1rem;
}
.input-sub-block{
    width:100%;
}
.input-box{
    outline: none;
    border:0.1px solid rgb(241, 241, 241);
    border-radius:3px;
    border-bottom:1px solid rgb(21, 9, 65);
    font-size:1.5rem;
}
.port-input{
    padding:1rem;
    width:200px;
    height:50px;
    margin-top:1rem;
    border-radius:3px;
    border:0.1px solid rgb(241, 241, 241);
    border-bottom:1px solid rgb(21, 9, 65);
}

.submit-btn-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
    background-color: aliceblue;
}
.submit-btn{
    font-size:1rem;
    letter-spacing: 2px;
    padding:0.5rem 2rem 0.5rem 2rem;
    background-color:darkslateblue;
    border-radius:5px;
    cursor: pointer;
    color: white;
    border:none;
    transition: transform 300ms ease-out;
    border-radius:0.5rem;
}

.submit-btn:hover{
    transform: scale(1.1);
}

.line-separation{
    width:100%;
    height:0px;
    border-bottom:1px solid gray;
    padding:0px;
    margin:0px;
}
.input-line-separation{
    width:100%;
    height:0px;
    margin-top:1rem;
    border:none;
    outline: none;
    border-bottom:1px solid rgba(232, 230, 230,0.6);
}

.two-digit-inputs {
    display: flex;
    gap: 14px;
    padding:0px;
    height:40px;
    margin-top:1rem;
}
  
.input-box-2digit{
    width:50px;
    text-align: center;
}

.img-blur-layer{
    position:absolute;
    top: 0px;
    width:100%;
    height:100%;
    background-color: rgba(6, 3, 23, 0.2);
}

.alert-box{
    position:absolute;
    top:1rem;
    padding:0.5rem;
    right:1rem;
    width:30%;
    background-color:rgb(5, 207, 96);
    box-shadow: 0px 0px 2px #333;
    color:white;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: 500;
    border-radius:2px;
}

.left-display-block{
    display: block;
    height:100%;
    width: 50%;
}

.left-display-block h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.88rem;
    font-family: sans-serif;
    background-color:white;
    border-bottom: 1px solid rgb(222, 222, 222);
}
.config-main-block{
    width: 100%;
    height:90%;
    padding-bottom:2rem;
    overflow-y:scroll;
}
.config-block{
    width:90%;
    height:auto;
    margin: auto;
    margin-top:1rem;
    margin-bottom:2rem;
    overflow-y: scroll;
}

.config-block h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;
    padding:0.5rem;
    font-size:20px;
    font-family: sans-serif;
}

.config-block table{
    width:100%;
    font-family: sans-serif;
    border-collapse: collapse;
}
  
.config-block table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .config-block table td{
    position: relative;
  }
  
.config-block table  tr:nth-child(even) {
    background-color: #f1efef;
  }
.input-sub-block1{
    width:100%;
    display: grid;
    align-items:baseline;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
}
  .radio-label{
    font-size:18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:1rem;
    text-align: left;
  }

  .remove-rule{
    position:absolute;
    width:20px;
    right:2px;
    cursor: pointer;
    background-color:gainsboro;
    border:0.5px solid rgb(203, 202, 202);
    outline: none;
  }

  .remove-rule:hover{
    background-color:rgb(205, 10, 10);
    color: white;
  }